<section class='w-[calc(100vw-15px)]'>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg text-center" id="notice"><%= notice %></p>
  <% end %>
  <h1 class='text-center text-h1 my-4'><%= t('checkout.h1') %></h1>
  <% if @cart_items.empty? %>
    <p class='text-center my-4'><%= t('checkout.p') %></p>
    <div class='text-center my-4'>
      <%= link_to t('checkout.btnContinue'), root_path, class: 'inline-block w-72 h-auto border-solid border-2 rounded-md py-2 bg-zinc-700 text-slate-100 text-center mx-auto' %>
    </div>
  <% else %>
    <table class='w-3/4 '>
      <thead>
        <tr>
          <th class='font-normal'><%= t('checkout.th1') %></th>
          <th class='font-normal'><%= t('checkout.th2') %></th>
          <th class='font-normal'><%= t('checkout.th3') %></th>
          <th><%= t('checkout.th4') %></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |item| %>
          <tr class='my-4'>
            <th class='flex items-center pl-40 w-18 font-normal'><%= image_tag item['path'], size: '100x200' %><%= item['product_name'] %></th>
            <th><%= item['size'] %></th>
            <th><%= item['quantity'] %></th>
            <th>R$<%= (item['price'].to_f*item['quantity'].to_f).to_s.sub(/[.]/, ',') %>0</th>
            <th><%= button_to t('checkout.btnRemove'), inicio_remover_do_carrinho_path(item['id']), method: :delete, data: { confirm: 'Tem certeza que deseja remover este item do carrinho?' }, class: 'ml-2' %></th>
          <tr>
        <% end %>
      </tbody>
    </table>
    <div class='text-center my-4'>
      <%= link_to t('checkout.btnContinue'), root_path, class: 'inline-block w-72 h-auto border-solid border-2 rounded-md py-2 border-zinc-700 text-center mx-auto' %>
      <%= link_to t('checkout.btnBuy'), '#', class: 'inline-block w-72 h-auto border-solid border-2 rounded-md py-2 bg-zinc-700 text-slate-100 text-center mx-auto' %>
    </div>
  <% end %> 
</section>
