<section class='flex flex-col w-[calc(100vw-15px)]'>
  <div class='flex justify-center items-center'>
    <article>
      <%= image_tag @compra.path, size: "550x1100"%>
    </article>
    <aside class='mt-16'>
      <p class='text-xl leading-7'><%= @compra.label %><span class='block h-auto font-bold'><%= t('buy.type_coin') %><%=  @compra.price.to_s.sub(/[.]/, ',') %>0</span></p>
      <p class='leading-7 mt-4'>
        <%= t('buy.size') %>
        <select name='size' class='block bg-zinc-700 text-slate-100 w-28 h-8 text-xs'>
          <option value="P">P</option>
          <option value="M">M</option>
          <option value="G">G</option>
          <option value="XG">XG</option>
        </select>
      </p>
    
     <div class='mt-6'>
       <%= form_with url: inicio_adicionar_ao_carrinho_path(id: @compra.id), method: :post do |form| %>
         <%= form.hidden_field :size, id: 'size-field' %>
         <%= form.submit t('buy.bag'), class: 'block w-72 h-auto border-solid border-2 rounded-md py-2 bg-zinc-700 text-slate-100 text-center', id: 'button' %>
      <% end %>
    </div>
      <p class='w-80 text-xs text-slate-600 leading-5 mt-4'>
        <%= @compra.description %>
        <span class='block'><%= t('buy.rights') %></span>
      </p>
    </aside>
  </div>
  <div class='mx-auto mt-16'>
    <p class='text-center'><%= t('buy.suggestion') %></p>
    <article class='mt-4 grid grid-cols-3 gap-5'>
      <% for i in 0..2 %>
        <p>
          <%= link_to (image_tag @next[i].path, size: '250x500', class: 'inline mx-6'), inicio_compra_path(escolha: @next[i].id) %>      
          <span class='block text-sm'><%= @next[i].label %></span>
          <span class='block text-sm'><strong>R$<%= @next[i].price %></strong></span>
        </p>
      <% end %>
    </article>
  </div>
</section>

<script>
  function updateSizeField() {
    let selectedSize = document.querySelector('[name=size]').value;
    document.getElementById('size-field').value = selectedSize;
  }

  document.querySelector("#button"),addEventListener('click', () => {
    updateSizeField()
  })
</script>
