<section class='w-[calc(100vw-15px)] px-8'>
  <h1 class="font-bold text-center text-h1 my-4"><%= t('information.h1') %></h1>
  
  <h2 class="font-bold text-lg"><%= t('information.h2_1') %></h2>
  <p class='text-justify'><%= t('information.p_1') %></p>
  
  <h2 class="font-bold text-lg mt-4"><%= t('information.h2_2') %></h2>
  <p class='text-justify'><%= t('information.p_2') %></p>
  
  <h2 class="font-bold text-lg mt-4"><%= t('information.h2_3') %></h2>
  <p class='text-justify'><%= t('information.p_3') %></p>
  
  <h2 class="font-bold text-lg mt-4"><%= t('information.h2_4') %></h2>
  <p class='text-justify'><%= t('information.p_4') %></p>

  <h2 class="font-bold text-lg mt-4"><%= t('information.h2_5') %></h2>
  <p class='text-justify'><%= t('information.p_5') %></p>
   
  <h2 class="font-bold text-lg mt-4"><%= t('information.h2_6') %></h2>
  <p class='text-justify'><%= t('information.p_6') %></p>
  
  <h2 class="font-bold text-lg mt-4"><%= t('information.h2_7') %></h2>
  <p class='text-justify'><%= t('information.p_7') %></p>
   
  <h2 class="font-bold text-lg mt-4"><%= t('information.h2_8') %></h2>
  <p class='text-justify mb-6'><%= t('information.p_8') %></p>
</section>  
