<footer class="relative bottom-0 h-14 flex items-center justify-between m-0 p-0">
    <p class="mx-20">
        <%= image_tag 'https://www.shareicon.net/data/256x256/2016/07/16/636201_boleto_480x300.png', size: "30x30", class: "inline" %>
        <%= image_tag 'https://cdn.iconscout.com/icon/free/png-256/free-mastercard-3521564-2944982.png', size: "30x30", class: "inline" %>
        <%= image_tag 'https://images.crunchbase.com/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1447476896/lcrdrlh1hfa0nbl9ycy3.png', size: "30x30", class: "inline" %>
        <%= image_tag 'https://logospng.org/download/visa/logo-visa-256.png', size: "30x30", class: "inline" %>
    </p>
    <p class="mx-20">
        <%= link_to '@Kashimastore', "https://www.instagram.com/kashimastore/", target: "blank" %>
    </p>
</footer>
