<header class="flex flex-col items-center justify-center bg-kashima-gray m-0 p-0">
  <div>
    <%= link_to (image_tag 'Logo-kashima', size: "175x175"), root_path %>
  </div>
  
  <div class="flex flex-row justify-between items-center w-96 mb-3">
    <p><%= link_to t('links.information'), inicio_informacao_path %></p>
    <p><%= link_to t('links.checkout'), inicio_carrinho_path %><span class='font-bold'></span></p>
    <div class="dropdown">
      <button class="dropbtn"><%= t('select.register') %></button>
      <div class="dropdown-content">
        <%= link_to 'Usuário', clothings_path %>
        <%= link_to 'Funcionário', clothings_path %>
      </div>
    </div>
  </div>
</header>
