<!DOCTYPE html>
<html>
  <head>
    <title>KashimaStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='font-sans'>
    <%= render "layouts/header" %>
    <main class="m-0 w-[calc(100vw-15px)]">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
